body {
	font-family: 'Cantata One', serif;
	font: #11266B;
    font-size: 150%;
    background-image: url('../img/whitew.jpg')
}

.container {
        width: 960px;
        margin: 0 auto 0 auto;
}


h1, h2, h3, h4, h5 {
        font-size: 100%;
}


section {
        margin-bottom: 2%;
        background-color: #fff;
        padding: 0 0 2% 0;
        box-shadow: 2px 2px 5px #333;
}

header {
        width: 960px;
        margin: 0 auto 0 auto;
        margin-bottom: 2%;
        font-size: 100%;
        
}

.jumbotron {
	background: white;
}


.name, .connect, .photography {
	font-size: 300%;
	font-family: Lucida Handwriting;
	box-shadow: 2px 2px 5px 2px #333;
	background-color: #ffffff
	
}

.title {
font-family: Lucida Handwriting;
}

.headings {
	margin: 2% 2% 2%;
	}
.navbar-wrapper {
	font-family: 'Cantata One', serif; 
	font-size: 130%;
	}

.email {
	font-family: 'Cantata One', serif; 
	font-size: 130%;
	box-shadow: 2px 2px 5px 2px #333;
	background-color: #ffffff
	}

.photos {
	max-width: 100%;
	height: auto;
	width: auto;
	}

.education, .skills, .expierience {
	height: 650px;
	}

p {
        padding-left: 4%;
}


ul {
        padding-left: 8%;
}

.img
  {
  margin: 5px;
  padding: 5px;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  display: inline;
  }